/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#222222;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow-x: none;
    overflow-y: auto;
    *zoom:1;
}

.padding {
    padding-left: 30px;
    padding-right: 20px
}

#box {
  padding-left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#box.toggled {
  padding-left: 200px;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0px;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #333333;
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#box.toggled #sidebar {
    width: 200px;
}

#sidebar ul.nav li a {
  color: #FFFFFF;
  padding-left: 20px;
}

#sidebar ul.nav li a:hover {
  background-color: #f0f0f0;
  color: #000000;
  font-weight: 400;
}

#sidebar-footer {
  position:absolute;
  bottom:5px;
  margin-left: 15px;
}

#menu-toggle {
  border: 0px;
  position: fixed;
  top: 5px;
  left: 0px;
}

#menu-toggle.toggled {
  margin-left: 200px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.menubutton {
  height:100%;
}

.menubar {
  width: 20px;
  height: 2px;
  background-color: #666666;
  margin: 6px 0;
}

.cdslogo {
  max-height: 100%;
  max-width: 100%;
  margin-top:15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* /sidebar stuff */

#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:100px;
  width:100px;
}

#main .img-circle:hover {
  border: solid 3px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

#footer {
  margin-top: 100px;
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {

}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}

/* page divider for marking sections */
.page-divider {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;

  border-top:1px solid #eeeeee;
  border-bottom:1px solid #eeeeee;

  font-weight:700;
  text-align: center;
  text-transform:uppercase;
  letter-spacing:2px;
  font-family:'Open Sans',arial,sans-serif;
}

.page-divider.top {
  margin-top: 0px;
}

.btn-primary {
  color: #103351;
  background-color: #ffffff;
  border-color: #103351;
  min-width: 100px;
  border-radius: 0px;
}

.btn-primary:hover{
  background-color: #103351;
  color:#ffffff;
  overflow-x:none;
}

.projectTitle{
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 10px;
}

.projectTeam {
  padding-bottom: 10px;
  font-weight: 200;
}

.projectDescription{
  font-weight: 200;
}

em.projectManager{
  font-weight: 400;
  font-style: normal;
}

.wwdEntry {
  margin-top: 20px;
  margin-bottom: 20px;

}

.wwdEntryLabel {
  font-weight: 400;
  font-size: 120%;
  text-align: center;
  padding: 15px;
}

.wwdEntryDes {
  font-weight: 200;
  padding: 10px;
  text-align: justify;
}

.projectSembtns {
  margin-top: 20px;
  margin-bottom: 20px;
}

.companyThumb {
  max-width: 100%;
  max-height: 100%;
  padding: 15px;
  display: inline-block;
}

.companyTWrapper {
  position: relative;
}

.course-container {
    width:100%;
    max-width: 670px;
    margin: 0px auto;
}

.eboard {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.team-member {
    padding-bottom: 7px;
}

.projects {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}